.advantages-list__item:not(:last-child) {
    margin-bottom: 30px;
}

.advantages-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    height: 120px;

    background-color: var(--backgroung-team);
}

.advantages__h {
    text-align: center;
    margin-bottom: 10px;
    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.advantages__description {
    line-height: 1.17;
}

@media screen and (min-width: 768px) {
    .advantages-list {
        display: flex;
        flex-wrap: wrap;    
    }
    .advantages-list__item {
        width: 354px;
    }
    .advantages-list__item:nth-child(2n) {
       margin-left: 30px;
    }
    .advantages__h {
        text-align: start;
    }
}

@media screen and (min-width: 1200px) {
    .advantages-list {
        display: flex;
        flex-wrap: wrap;

        &>.advantages-list__item {
            flex-basis: calc((100% - 4 * 30px) / 4);
            margin-left: 30px;
            margin-bottom: 0;
        }

        &>.advantages-list__item:nth-child(4n+1) {
            margin-left: 0px;
        }
    }

    .advantages-list__icon {
        width: 270px;
    }
}


