.nav-list {
    display: none;
}
.header__contacts-list {
    display: none;
}

.header__section {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ececec;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {

    .header__section {
        padding-top: 0;
        padding-bottom: 0;
    }
    .mobile-menu-btn {
    display: none;
    }
    .nav-list {
    display: flex;
    }    
    .header__contacts-list {
    display: block;
    }
    }

@media screen and (min-width: 1200px) {
    .mobile-menu-btn {
        display: none;
    }

    .header__contacts-list {
        display: flex;
    }
}

