.main-title {
    text-align: center;
    margin: 0 auto;
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
    .main-title {        
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
        
    }
}

