.checkbox__wrapper {
  margin-bottom: 30px;
}

.checkbox__contact-form-label {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--h-color);
    border-radius: 2px;
    
    cursor: pointer;
    margin-right: 8px;
  }
}
    
.checkbox__contact-form:checked + .checkbox__contact-form-label::before {
  background-image: url(../images/check-icon.svg);
  border: none;
}

.policy-checkbox__link {
  color: var(--accent-color);
  text-decoration: underline
}

@media screen and (max-width: 1199px) {
  .checkbox__contact-form-label {
    font-size: 12px;
  }  
}