.logo {
    align-self: center;

    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;

    color: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .logo {
        display: block;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .logo { 
        margin-right: 93px;
        font-size: 26px;
    }
}

.logo__header-color {
    color: var(--secondary-accent-color);
}



