.main-content__section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.secondary-h {
    margin-bottom: 50px;

    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

@media screen and (min-width: 1200px) {
    .main-content__section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

